<div class = "sideheader">
  <div class = "headername">
     <%= link_to current_user.name, edit_user_path(current_user) %>
   </div>
   <div class = "createroom">
   <a href = "#">チャットを作成する</a>
   </div>
</div>
<div class = "sidemain">
<div class = "room">
<div class = "roomname">
 <a href="#">techroom1</a>
 </div>
 </div>
 <div class = "room">
 <div class = "roomname">
 <a href="#">techroom2</a>
 </div>
 </div>
</div>